.editorconfig
.gitattributes
.github/**
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
*.vsix
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
docs/**
esbuild.js
icon/**
node_modules/**
out/**
src/**
test-workspaces/**
