.editorconfig
.gitattributes
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
*.vsix
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
esbuild.js
icon/**
node_modules/**
out/**
src/**
test-workspaces/**
vsc-extension-quickstart.md
